{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  {% if is_edit %}Редактирование публикации{% else %}Новая публикация{% endif %}
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if is_edit %}
          Редактирование публикации
        {% else %}
          Создание публикации
        {% endif %}
      </div>
      
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          {% bootstrap_form form %}
          
          {% if is_edit and form.instance.image %}
            <div class="mb-3">
              <p>Текущее изображение:</p>
              <img src="{{ form.instance.image.url }}" 
                   class="img-thumbnail" 
                   width="200"
                   alt="Текущее изображение">
              <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" name="image-clear" id="image-clear">
                <label class="form-check-label" for="image-clear">
                  Удалить изображение
                </label>
              </div>
            </div>
          {% endif %}
          
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">
              {% if is_edit %}Сохранить{% else %}Опубликовать{% endif %}
            </button>
            
            {% if is_edit %}
              <a href="{% url 'blog:post_detail' form.instance.id %}" class="btn btn-outline-secondary">
                Отмена
              </a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}